@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: white;
}

.apresentacao{
    margin: 10% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: "Krona One", sans-serif;
    height: 168px;
    font-size: 36px;
}

.destaqueDoTitulo{
    color: aqua
}

.apresentacao__conteudo__texto{
    font-family: "Montserrat", sans-serif;
    height: 144px;
    font-size: 24px;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    width: 378px;
    padding: 21.5px 0;
    border: 2px solid aqua;
    color: white;
    border-radius: 8px;
}

.apresentacao__links__link__logo{
    width: 32px;
    height: 32px;
    border: none;
}

.tecnologias-destaque{
    color: aqua;
}

img{
    width: 500px;
    border: 5px groove aqua;
}