@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    
    --fonte-primaria: "Montserrat" sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;

    --fonte-peso-primario: 600;
    --fonte-peso-secundario:400;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 2% 0% 0% 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: var(--fonte-peso-primario);
    font-size: 24px;
    text-decoration: none;
}

.cabecalho__menu__links:hover {
    cursor: pointer;
}

.apresentacao {
    padding: 3% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-secundaria);
    height: 168px;
    font-size: 36px;
}

.destaqueDoTitulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-primaria);
    height: 144px;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: var(--fonte-peso-secundario);
    font-size: 24px;
}

.apresentacao__links__link {
    font-family: var(--fonte-primaria);
;    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 24px;
font-weight: var(--fonte-peso-primario);
    text-decoration: none;
    text-align: center;
    width: 378px;
    padding: 21.5px 0;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-segundaria);
    border-radius: 8px;
}

.apresentacao__links__link:hover {
    cursor: pointer;
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao__links__link__logo {
    width: 32px;
    height: 32px;
    border: none;
}

.tecnologias-destaque {
    color: var(--cor-terciaria);
}

img {
    width: 500px;
    border: 5px groove var(--cor-terciaria);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: black;
    font-family: var(--fonte-primaria);
    font-weight: var(--fonte-peso-secundario);
    font-size: 24px;
    text-align: center;
    padding: 24px;
}